---
import Layout from "../layouts/Layout.astro";

import EnConstruccion from "../components/Secciones/EnConstruccion.astro";
---

<Layout title="Panambi - MKT Digital y Desarrollo WEB">
  <main class="flex flex-col overflow-hidden">
    <EnConstruccion />
  </main>
</Layout>
